@import '../../variables';

.root {
  display: block;
}

.contentWrap {
  display: flex;
  background: linear-gradient(180deg, #732119 42.19%, #d93e30 100%);
  border-radius: 16px;
}

.pictureWrap {
  display: block;
}

.stats {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.name {
  color: $white;
}

.generation {
  font-size: 24px;
  line-height: 30px;
  color: $white;
}
