.root {
  display: block;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  padding-top: 73px;
}

.heading {
  margin: 0 auto 35px;
  font-weight: 400;
}

.search {
  padding: 16px 30px;

  background: #f2f2f2;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
  border: none;

  font-size: 16px;
  line-height: 20px;
  color: rgba(33, 33, 33, 0.8);
}

.pokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
